
@model DataAccessLayer.Models.AssetsViewModel
@{
    Layout = null;
}

<div class="modal-dialog modal-lg">
    <div class="modal-content">

        <form asp-controller="Assets" asp-action="SaveAssets" id="SaveForm" method="post" enctype="multipart/form-data">

            <div class="modal-header modal-header-fill">
                <h4 class="modal-title">@(Model.Id == 0 ? "Add Asset" : "Update Asset")</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">

                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(a => a.Id)

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(a => a.Name)
                            @(Html.TextBoxFor(a => a.Name, new { @class = "form-control required", @required = "required", @placeholder = "Name" }))
                            @Html.ValidationMessageFor(a => a.Name)
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(a => a.SerialNumber)
                            @(Html.TextBoxFor(a => a.SerialNumber, new { @class = "form-control required", @required = "required", @placeholder = "Serial Number"}))
                            @Html.ValidationMessageFor(a => a.SerialNumber)
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(a => a.FirmwareVersion)
                            @(Html.TextBoxFor(a => a.FirmwareVersion, new { @class = "form-control required", @required = "required", @placeholder = "Firmware Version" }))
                            @Html.ValidationMessageFor(a => a.FirmwareVersion)
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(a => a.DeviceGroupId)
                            <div class="input-group-append">
                                @Html.DropDownListFor(x => x.DeviceGroupId, new SelectList(Model.DeviceGroupList, "Id", "Name", "Select"), new { @class = "select2bs4" })
                            </div>
                            @Html.ValidationMessageFor(a => a.DeviceGroupId)
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default btnCloseModal" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </form>
    </div>
</div>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script>

    $(document).ready(function () {
        $("#DeviceGroupId").val('').trigger('change');
    });
    
   $(function () {
        $('#SaveForm .select2bs4').select2({
            theme: 'bootstrap-5',
            placeholder: 'Select',
            allowClear: true
        });
       
       $('#SaveForm').ajaxForm({
           complete: function (result) {

               result = jQuery.parseJSON(result.responseText);

               if (result.id == 1) {

                   Swal.fire(
                       "Success",
                       result.message,
                       'success'
                   ).then(function () {
                        location.reload();
                    });

                   $(".btnCloseModal").click();
               }
               else {
                   Swal.fire(
                       "Failed",
                       result.message,
                       'error'
                   ).then(function () {
                        location.reload();
                    });
               }
           }
       });
   });

</script>