@using DataAccesLayer.Entities
@model DataAccessLayer.Models.AssetsViewModel
@{
    ViewBag.Title = "Assets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header-card">
    <div class="card-header">
        <div class="header-icon-block">
            <span class="fa fa-archive"></span>
        </div>
        <h2>
            Manage Assets
            <small>View And Manage Assets</small>
        </h2>
    </div>
</div>

<div class="filter-page-wrapper">

    <nav class="filter-content">
        <div class="sidebar-header">
            <span class="fa fa-search"></span> Search
        </div>

        <div class="col-md-12 text-right">
            <div class="form-group">
                <button type="button" onclick="clearFilters()" class="btn btn-default btn-sm">Clear</button>
                <button type="button" id="btnReviewFilterSearch" class="btn btn-aus btn-sm">Search</button>
            </div>
        </div>

        <form id="searchForm" name="searchForm">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(a => a.Name)
                    @Html.TextBoxFor(a => a.Name, new { @class = "form-control", @placeholder = "Asset Name" })
                </div>
            </div>
        </form>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="container-fluid">
                    <div class="body" style="background-color: #ECF0F5;">
                        <tbody id="assets-container">
                        <tr>
                            <td>
                                @Model.Name
                            </td>
                            <td>
                                @Model.SerialNumber
                            </td>
                            <td>
                                @if (@Model.Active)
                                {
                                    <img class="grid-icon gb-activation" src="Images/Icons/active.png" title="Active" alt="Active">
                                }
                                else
                                {
                                    <img class="grid-icon gb-activation" src="Images/icons/inactive.png" title="Inactive" alt="Inactive">
                                }
                            </td>
                            <td>
                                <img class="grid-icon gb-activation" src="Images/icons/edit.png" title="Edit" alt="Edit" onclick="edit(id)">
                            </td>
                            <td>
                                <img class="grid-icon gb-activation" src="Images/icons/deactivate.png" title="Deactivate" alt="Deactivate" onclick="deactivate(id)">
                            </td>
                        </tr>
                        </tbody>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
 
        function edit(id) {
            $.ajax({
                cache: false,
                type: 'get',
                url: '/Assets/GetAssets',
                data: { 'id': id },
                success: function (result) {
                    $("#GenericModal").empty().html(result).modal('show');

                }
            });
        }

        function deactivate(id) {
    
            $.ajax({
                cache: false,
                type: 'post',
                url: '/Assets/DeactivateAssets/',
                data: { 'id': id },
                success: function (result) {
    
                    if (result.Id == 1) {
    
                        Swal.fire(
                            'Successful',
                            result.Message,
                            'success'
                        );
    
                        var grid = $("#Grid").data("kendoGrid");
                        grid.dataSource.read();
                    }
                },
                error: function (ex) {
    
                }
            });
        }

        function reactivate(id) {

            $.ajax({
                cache: false,
                type: 'post',
                url: '/Assets/ReactivateAssets/',
                data: { 'id': id },
                success: function (result) {

                    if (result.Id == 1) {

                        Swal.fire(
                            'Successful',
                            result.Message,
                            'success'
                        );

                        var grid = $("#Grid").data("kendoGrid");
                        grid.dataSource.read();
                    }
                },
                error: function (ex) {

                }
            });
        }

    </script>