@model List<AssetsGridViewModel>
@{
    ViewBag.Title = "Assets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header-card">
    <div class="card-header">
        <h2>
            <small>View And Manage Assets</small>
        </h2>
    </div>
</div>

<div class="filter-page-wrapper">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="container-fluid">
                    <button type="button" class="btn btn-default" onclick="edit(0)">Add</button>
                    <div class="body" style="background-color: #ECF0F5;">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model[0].Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model[0].SerialNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model[0].FirmwareVersion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model[0].DeviceGroup)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model[0].Active)
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SerialNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FirmwareVersion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DeviceGroup)
                                    </td>
                                   <td>
                                       @if (item.Active)
                                       {
                                           <img class="grid-icon gb-activation" src="~/Images/Icons/active.png" style="width:24px;height:24px;" title="Active" alt="Active">
                                       }
                                       else
                                       {
                                           <img class="grid-icon gb-activation" src="~/Images/icons/inactive.png" style="width:24px;height:24px;" title="Inactive" alt="Inactive">
                                       }
                                   </td>
                                    <td>
                                        <img class="grid-icon gb-activation" src="~/Images/icons/edit.png" style="width:24px;height:24px;" title="Edit" alt="Edit" onclick="edit(@item.Id)">
                                        @if (item.Active)
                                        {
                                            <img class="grid-icon gb-activation" src="~/Images/icons/deactivate.png" style="width:24px;height:24px;" title="Deactivate" alt="Deactivate" onclick="deactivate(@item.Id)">
                                        }
                                        else
                                        {
                                            <img class="grid-icon gb-activation" src="~/Images/icons/active.png" style="width:24px;height:24px;" title="Reactivate" alt="Reactivate" onclick="reactivate(@item.Id)">
                                        }
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
 
        function edit(id) {
            $.ajax({
                cache: false,
                type: 'get',
                url: '/Assets/GetAssets',
                data: { 'id': id },
                success: function (result) {
                    $("#GenericModal").empty().html(result).modal('show');

                }
            });
        }

        function deactivate(id) {
    
            $.ajax({
                cache: false,
                type: 'post',
                url: '/Assets/DeactivateAssets',
                data: { 'id': id },
                success: function (result) {
    
                    if (result.Id == 1) {
    
                        Swal.fire(
                            'Successful',
                            result.message,
                            'success'
                        );
                    }
                    location.reload();
                },
                error: function (ex) {
    
                }
            });
        }

        function reactivate(id) {

            $.ajax({
                cache: false,
                type: 'post',
                url: '/Assets/ReactivateAssets',
                data: { 'id': id },
                success: function (result) {

                    if (result.Id == 1) {

                        Swal.fire(
                            'Successful',
                            result.message,
                            'success'
                        );
                    }
                    location.reload();
                },
                error: function (ex) {

                }
            });
        }

    </script>